repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.25
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/crate-ci/typos
    rev: v1.43.4
    hooks:
      - id: typos
        args: ["--config", ".typos.toml"]

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.1
    hooks:
      - id: uv-lock

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
