[project]
name = "xvr"
version = "0.0.0rc1"
description = "Differentiable 2D/3D X-ray to volume registration"
readme = "README.md"
license = {file = "LICENSE"}
authors = [
    { name = "Vivek Gopalakrishnan", email = "vivekg@mit.edu" }
]
requires-python = ">=3.10"
dependencies = [
    "antspyx>=0.5.4",
    "click>=8.1.8",
    "diffdrr>=0.5.0",
    "pydicom[pixeldata]>=3.0.1",
    "huggingface_hub[cli]>=0.32.0",
    "wandb>=0.21.1",
    "monai>=1.5.0",
]

[project.scripts]
xvr = "xvr.cli:cli"

[project.urls]
Repository = "https://github.com/eigenvivek/xvr"
Issues = "https://github.com/eigenvivek/xvr/issues"

[tool.ruff]
extend-exclude = ["*.ipynb"]

[tool.uv.sources]
diffdrr = { git = "https://github.com/eigenvivek/DiffDRR" }

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "black>=25.1.0",
    "diffdrrdata>=0.0.7",
    "isort>=6.0.1",
    "jupyterlab-code-formatter>=3.0.2",
    "jupyterlab-execute-time>=3.2.0",
    "pre-commit>=4.3.0",
]
